{% extends "base.html" %}
{% block content %}
<div class="request-data">
    <h1>Логистическая компания CityExpress</h1>
    <p class="small">Дата создания заявки: 07.09.2025</p>
</div>

<h1 class="main-heading request-detail">Составление заявки</h1>
<div class="request-items">
    {% for car in depreciation_request_cars %}
    <div class="request-item">
        <img src="{{ car.image_url }}" alt="{{ car.name }}" width="200" class="request-item-img">
        <div class="text">
            <p class="small">{{car.name}}</p>
            <p class="small">Госномер: {{ car.license_plate }}</p>
            <p class="small">VIN: {{ car.VIN }}</p>
            <p class="small">Стоимость: {{ car.price }} ₽</p>
        </div>
        <div class="m-m_field">
            <div class="m-m_mileage">Пробег: {{car.request_mileage }} км</div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="request-data">
    <p>Общая стоимость амортизационных отчислений: {{ request.total_depreciation }} ₽</p>
</div>
{% endblock %}
